[defaults]
host_key_checking = False
timeout = 60
interpreter_python = auto_silent
retry_files_enabled = False
forks = 1
retries = 5

[ssh_connection]
ssh_args = -o ControlMaster=no -o ControlPersist=no -o ServerAliveInterval=15 -o ServerAliveCountMax=6 -o ConnectTimeout=30
pipelining = True
